@model MyBlog.ViewModels.Articles.AddArticleViewModel


@{
    ViewData["Title"] = "Добавление статьи";
}

<div class="block-reg background-white">
    <h3 >@ViewData["Title"]</h3>

   
    <form class="frm" method="post" asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>        
        <div class="form-group">
            @if (Model.Tegs != null)
            {
                foreach (var item in Model.Tegs)
                {
                    <input type="checkbox" name="tegsCurrent" value="@item.Id"
                   @(Model.Tegs.Contains(item) ? "checked=\"checked\"" : "") />
                    @item.Content <br />
                }
            }
        </div>
        <div class="mrgn">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mrgn">
            <textarea rows="10" asp-for="Content" class="form-control"> </textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="center">
            <input class="enter_submit" type="submit" value="Добавить" />
        </div>
    </form>

    <a asp-action="Index">Вернуться к списку всех статей</a>
</div>
