@model MyBlog.ViewModels.Articles.ArticleViewModel

@{
    ViewData["Title"] = "Все статьи";
}

<div class="block-reg background-white">
    <h2>@ViewData["Title"]</h2>
    <a class="" asp-area="" asp-controller="Article" asp-action="CreateArticle">Добавить статью</a>

    @if (Model.Articles != null)
    {
        @foreach (var item in Model.Articles)
        {
            <div class="bubble">
                <h3>@item.Title</h3>
                <br>
                <br>
                <br>
            </div>
        }
    }
</div>