@model MyBlog.ViewModels.Articles.ArticleViewModel

@{
    ViewData["Title"] = "Все статьи";
}

<div class="block-reg background-white">
    <h2>@ViewData["Title"]</h2>
    <a asp-action="CreateArticle">Добавить статью</a>

    @if (Model.Articles != null)
    {
        <div class="card-container">
            @foreach (var item in Model.Articles)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>

                        <br>
                        <br>
                    </div>
                </div>
            }
        </div>
    }
</div>