@model string

@{
    ViewData["Title"] = "Добавление тега";
}

<div class="block-reg background-white">
    <h3 class="center">@ViewData["Title"]</h3>

    <form class="frm" method="post" asp-controller="Teg" asp-action="Create">
        <div class="form-group">
            <label for="name">Новый тег</label>
            <input name="content" class="form-control" />
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <br>
    <a class="" asp-area="" asp-controller="Teg" asp-action="GetAllTeg">Перейти к списку всех тегов</a>

</div>
