@model MyBlog.ViewModels.Tegs.TegUpdateViewModel

@{
    ViewData["Title"] = "Редактирование тега";
}

<div class="block-reg background-white">
    <h3 class="center">@ViewData["Title"]</h3>

    <form class="frm" method="post" asp-action="Update">
        <input type="hidden" name="id" value="@Model.Id" />
        <div asp-validation-summary="ModelOnly"></div>

        <div class="mrgn">
            <input asp-for="Content" name="contentTeg" class="form-control" />
            <div asp-validation-summary="ModelOnly"></div>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <br>
    <a asp-action="Index">Перейти к списку всех тегов</a>

</div>
