@model Contracts.ViewModels.Users.LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        <div class="center">
            Пространство блогов
        </div>
    </div>

    <div class="main">
        <partial name="Login" />
    </div>
</div>