@using Microsoft.AspNetCore.Identity;
@using MyBlog.Models.Users;
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="login-area">    
        <div class="logout-button">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input class="enter_submit" type="submit" value="Выход" />
            </form>
        </div>
    </div>
}
