@model string

@{
    ViewData["Title"] = "Все теги";
}

<div class="block-reg background-white">
    <h2 class="center">@ViewData["Title"]</h2>




   
    <br>
    <a class="" asp-area="" asp-controller="Teg" asp-action="GetAllTeg">Перейти к списку всех тегов</a>

</div>
