@model MyBlog.ViewModels.Articles.ArticleViewModel

@{
    ViewData["Title"] = "Все статьи";
}

<div class="block-reg background-white">
    <h2 class="center">@ViewData["Title"]</h2>
    <a class="" asp-area="" asp-controller="Articles" asp-action="Create">Добовить статью</a>
    @foreach (var item in Model.Articles)
    {      
            <div class="bubble">
                <h3>@item.Title</h3>
                <br>
                <br>
                <br>
            </div>
    }       
</div>
