@model Contracts.ViewModels.Comments.CommentUpdateViewModel

@{
    ViewData["Title"] = "Редактирование комментария";
}

<div class="block-reg background-white">
    <h3 class="center">@ViewData["Title"]</h3>

    <form class="frm" method="post" asp-action="Update">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" name="id" value="@Model.Id" />       

        <div class="mrgn">
            <textarea rows="5" asp-for="Content" class="form-control"> </textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <br>
    <a asp-action="Index">Перйти к списку всех комментариев</a>

</div>
